name: Test Suite for All Browsers

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  cypress_run:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, edge, firefox]

    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@v4
        
      # Set up Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      # Install npm dependencies
      - name: Install npm dependencies
        run: npm ci

      # Run Login Test in each browser in the matrix
      - name: Run All Test Case in ${{ matrix.browser }}
        uses: cypress-io/github-action@v6
        with:
          browser: ${{ matrix.browser }}
            # Install dependencies and run tests
          command: npm run cypress:run-report # Assuming you have a script for this
      - name: Upload HTML Report
        uses: actions/upload-artifact@v4
        with:
            name: cypress-html-report
            path: cypress/reports/html # Adjust path based on your reporter configuration

      - name: Send Email Notification
        uses: dawidd6/action-send-mail@v3
        if: failure() # Only send on failure
        with:
            connection_url: ${{secrets.MAIL_CONNECTION}}
            server_address: smtp.gmail.com # Or your Outlook SMTP server
            server_port: 465
            secure: true
            username: ${{ secrets.EMAIL_USERNAME }}
            password: ${{ secrets.EMAIL_PASSWORD }}
            subject: Github Actions job result
            body: "Cypress tests failed in workflow run ${{ github.run_id }}. Check the logs for details."
            to: zasqalead@gmail.com, zahangir.alam@selisegroup.com
            from: Zahangir Alam
            html_body: file://README.html
            cc: saimarais005@gmail.com
            reply_to: alamzahangir365@gmail.com








