name: Test Suite for All Browsers

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  cypress_run:
    runs-on: ubuntu-24.04

    strategy:
      fail-fast: false
      matrix:
        browser: [chrome, edge, firefox]

    steps:
      # Checkout the code
      - name: Checkout code
        uses: actions/checkout@v4

      # Set up Node.js
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      # Install npm dependencies
      - name: Install npm dependencies
        run: npm ci

      # Run Login Test in each browser in the matrix
      - name: Run All Test Case in ${{ matrix.browser }}
        uses: cypress-io/github-action@v6
        with:
          browser: ${{ matrix.browser }}
